@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Poppins&family=Roboto&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

:root {
    --mainColor: #395144;
    --secondColor: #4E6C50;
    --offColor: #AA8B56;
    --detailColor: #F0EBCE;
}

/* ========== REUSEABLES ========== */
.displayBlock {
    display: block !important;
}
.displayFlex {
    display: flex !important;
}
.displayNone {
    display: none !important;
}
/* ========== REUSEABLES ========== */



body {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.blurCover {
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: var(--detailColor);
    opacity: .7;
    display: none;
}

.addEventWindow {
    position: absolute;
    left: 50%;
    transform: translateX(-52%) translateY(45%);
    background-color: var(--secondColor);
    border: 5px solid var(--offColor);
    color: var(--detailColor);
    display: none;
    flex-direction: column;
    padding: 1rem;
    font-size: 20px;
    border-radius: 10px;
    gap: 5px;
}


.addEventWindow i {
    position: relative;
    left: 95%;
}

.dateTitles {
    display: flex;
    justify-content: space-evenly;
}

#title, #choseMonth,
#choseDay, #choseYear,
#occasion {
    padding: .5rem 1rem;
    font-size: 20px;
    background-color: var(--detailColor);
    color: var(--mainColor);
    border: none;
    border-radius: 10px;
    -webkit-appearance: none;
    -moz-appearance: none;
}

#description {
    resize: none;
    height: 4rem;
    background-color: var(--detailColor);
    color: var(--mainColor);
    border-radius: 10px;
    padding: .5rem;
}

#choseYear {
    width: 7rem;
}

label, .dateTitles, .occasionTitle {
    margin-top: 1rem;
}

.bottomRow {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 1rem;
}
.bottomRow span {
    font-size: 15px;
}

#submitEvent {
    background-color: var(--offColor);
    color: var(--mainColor);
    font-size: 18px;
    border: none;
    border-radius: 10px;
    width: 6rem;
    padding: .5rem;
    display: flex;
    justify-content: center;
    cursor: pointer;
}


/* ========== HEADER ========== */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--mainColor);
    padding: 1.5rem;
    color: var(--detailColor);
}

/* ========== DROPDOWN ========== */
.eventDropdown {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 1px solid var(--detailColor);
    border-radius: 10px;
    padding: 1rem;
    gap: 2rem;
}

.dropdownIcon {
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 6px solid var(--detailColor);
    transition: .2s;
}
/* ========== DROPDOWN ========== */


/* ========== DROPDOWN WINDOW========== */
.dropdownWindow{
    position: absolute;
    top: 6.5rem;
    padding: 2rem;
    border: 1px solid var(--detailColor);
    background-color: var(--mainColor);
    border-radius: 10px;
    transform: translateY(-8.5rem) scaleY(0);
    transition: transform .2s;
}
.openMyEvents {
    transform: translateY(0) scaleY(1);
}

.dropdownWindow span {
    margin: 0 3rem;
}

.spanSaved {
    color: #7C7757;
}

.dropdownWindow span:hover {
    cursor: pointer;
    text-decoration: underline;
    transform: scaleX(1);
    color: var(--detailColor);
}


/* ========== EVENT ITEM ========== */
.eventItem {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 1rem 0;
    padding: 1rem 1.5rem;
    background-color: var(--offColor);
    border-radius: 10px;
    transition: transform .1s;
}
.eventItem:hover {
    cursor: pointer;
    transform: scale(1.05);
}

.eventIcon {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--detailColor);
    color: var(--mainColor);
    height: 70px;
    width: 70px;
    border-radius: 10px;
}

.eventItemInfo {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    flex-grow: 1;
    margin: 0 .5rem;
    height: 4rem;
}

.eventItemInfo div {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.eventItemtitle {
    align-items: center;
    font-size: 18px;
    text-decoration: underline;
}

.eventItemDate {
    align-items: center;
    font-size: 13px;
}
.eventItemDate:hover {
    cursor: pointer;
    text-decoration: underline;
}

.eventItemDescription {
    display: flex;
    flex-grow: 1;
    font-size: 14px;
}

.removeEventItem {
    height: 30px;
    width: 30px;
    border-radius: 10px;
    border: none;
    background-color: rgb(217, 18, 18);
    color: var(--detailColor);
    transition: transform .2s;
}
.removeEventItem:hover {
    cursor: pointer;
    transform: scale(1.2);
}
/* ========== EVENT ITEM ========== */


/* ========== ADD EVENT ITEM ========== */
.addEvent {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: .5rem;
    width: 10rem;
    transition: transform .2s;
    color: #7C7757;
}
.addEvent:hover {
    cursor: pointer;
    text-decoration: underline;
    transform: scale(1.05);
    color: var(--detailColor);
}

.addEventBtn {
    height: 40px;
    width: 40px;
    border-radius: 40px;
    border: none;
    background-color: var(--detailColor);
    color: var(--mainColor);
}
/* ========== ADD EVENT ITEM ========== */

/* ========== DROPDOWN WINDOW========== */


/* ========== CENTER OF HEADER ========== */

.centerPart {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.monthDisplay {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 1rem;
}

.currentMonth {
    font-size: 20px;
    padding: 0 2rem;
    width: 20rem;
    text-align: center;
}
/* ========== CENTER OF HEADER ========== */


/* ========== TIME AND DATE DISPLAY ========== */
.timeAndDate {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid var(--detailColor);
    border-radius: 10px;
    padding: 1rem 3rem;
}
.currentDate {
    display: flex;
    gap: 5px;
}
/* ========== TIME AND DATE DISPLAY ========== */

/* ========== HEADER ========== */


/* ========== WEEKDAYS ========== */
.weekdays {
    display: flex;
    justify-content: space-between;
    background-color: var(--secondColor);
    color: var(--detailColor);
    padding: 2rem 4rem; 
}
/* ========== WEEKDAYS ========== */


/* ========== CALENDAR ========== */
.calendarBody {
    display: flex;
    flex-wrap: wrap;
    background-color: rgba(170, 139, 86, 0.8);
    flex-grow: 1;
}

.daySquare {
    width: calc(100% / 7 - 2px);
    padding: 1rem;
    margin: 1px;
    color: var(--detailColor);
    border: 3px solid var(--secondColor);
    border-radius: 10px;
}

.emptySquare {
    border: none;
}
/* ========== CALENDAR ========== */