@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Poppins&family=Roboto&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

:root {
    --mainColor: #395144;
    --secondColor: #4E6C50;
    --offColor: #AA8B56;
    --detailColor: #F0EBCE;
}

body {
    display: flex;
    flex-direction: column;
    height: 100vh;
}
/* ========== HEADER ========== */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--mainColor);
    padding: 1.5rem;
    color: var(--detailColor);
}

.eventDropdown {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 1px solid var(--detailColor);
    padding: 1rem;
    gap: 2rem;
}

.dropdownIcon {
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 6px solid var(--detailColor);
    transition: .2s;
}

.centerPart {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.monthDisplay {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 1rem;
}

.currentMonth {
    font-size: 20px;
    padding: 0 6rem;
}

.timeAndDate {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid var(--detailColor);
    padding: 1rem 3rem;
}
.currentDate {
    display: flex;
    gap: 5px;    
}

/* ========== WEEKDAYS ========== */
.weekdays {
    display: flex;
    justify-content: space-between;
    background-color: var(--secondColor);
    color: var(--detailColor);
    padding: 2rem 4rem; 
}

/* ========== CALENDAR ========== */
.calendarBody {
    display: flex;
    flex-wrap: wrap;
    background-color: var(--offColor);
    flex-grow: 1;
    opacity: .7;
}

.daySquare {
    width: calc(100% / 7 - 2px);
    padding: 1rem;
    border: 3px solid var(--secondColor);
    margin: 1px;
}

.emptySquare {

}